.formulario {
    width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f1f1f1;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.formulario h2 {
    text-align: center;
    color: #333;
}

.formulario input[type="button"] {
    background-color: red;
    color: white;
    border: none;
    padding: 10px 20px;
    margin-right: 10px;
    cursor: pointer;
}

.formulario input[type="button"]:hover {
    background-color: #45a049;
}

.formulario textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.formulario input[type="reset"] {
    background-color:grey;
    color: white;
    border: none;
    padding: 10px 20px;
    margin-top: 10px;
    cursor: pointer;
}

.formulario input[type="reset"]:hover {
    background-color: greenyellow;
}

.formulario input[type="submit"] {
    background-color: grey;
    color: white;
    border: none;
    padding: 10px 20px;
    margin-top: 10px;
    cursor: pointer;
}

.formulario input[type="submit"]:hover {
    background-color: greenyellow;
}
